@page "/Disclaimer"

<h1>
    Disclaimer<br><br>

    The content of this website is intended for educational purposes only. <br><br> 
    It is part of an academic project developed by an IT student of Southern Christian College. <br><br> 
    All materials and information provided on this website are solely for instructional use, and should not be considered as professional or commercial advice.<br><br> 
    The website may include links or references to third-party resources for educational enhancement, but it does not claim any responsibility for the accuracy, legality, or content of external sites.
</h1>

<style>
    h3 {
        margin: 10px 0;
        font-size: 2rem;
        color: white;
    }
</style>
