@page "/music"

<h3>My Favorite Music</h3>
<br>
<br>

<h3>Enjoy listening to your favorite music directly from Spotify</h3>

<style>
        h3 {
        margin: 10px 0;

        font-size: 2rem;
        color: white;
    }
</style>

<br>
<br>
<div>

    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1imaIe1NEAaWnLF0BY0V6F?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
        "

        width="300"
        height="380"
        frameborder="0"
        allowtransparency="true"
        allow="encrypted-media">
    </iframe>
</div>

<div>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4WgViu9gw3qYOr3iF9OuLG?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
        width="300"
        height="380"
        frameborder="0"
        allowtransparency="true"
        allow="encrypted-media">
    </iframe>
</div>

<div>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/3lOpUMMUskknPD3dJR2MkT?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
        width="300"
        height="380"
        frameborder="0"
        allowtransparency="true"
        allow="encrypted-media">
    </iframe>
</div>