@page "/video"

<h3>Favorite Vloggs</h3>
<style>
    h3 {

        color: white;
    }
</style>

<iframe width="790" height="310" src="https://www.youtube.com/embed/CIUo7T011oE?si=r-9y6bs7aYXyUKQ7"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
</iframe>



<iframe width="790" height="310" src="https://www.youtube.com/embed/-BnUY5z0Qcg?si=gga63aXQlSYGvETS"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
</iframe>


<iframe width="790" height="310" src="https://www.youtube.com/embed/vzH_FSGHWnk?si=pOxpY_SB-a60i_7L"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
</iframe>



<iframe width="790" height="310" src="https://www.youtube.com/embed/gsMcmz3ds4E?si=tg0KnyauOV3k-Dl5"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>





<iframe width="790" height="310" src="https://www.youtube.com/embed/4valhGFoafg?si=Y5qxxccBlCvz5q1m"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>


<iframe width="790" height="310" src="https://www.youtube.com/embed/PkAH3Q7xaJI?si=kqIeHwitkaLS3JYo"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>

<iframe width="790" height="310" src="https://www.youtube.com/embed/rIMD1arZwn0?si=669kFXfrOg91whU8"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>

<iframe width="790  " height="310" src="https://www.youtube.com/embed/tFPR8qNWcKc?si=YgIWsYX0WROX9cIH"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>

