.page[b-x22ywj7wwb] {
    position: relative;
    display: flex;
    flex-direction: column;
   full-background-color: rgb(5, 39, 103);
}

main[b-x22ywj7wwb] {
    flex: 1;
}

.sidebar[b-x22ywj7wwb] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #00ffff 70%);
}

.top-row[b-x22ywj7wwb] {
    background-color: #f7f7f7;
    border-bottom: 1px solid rgb(5, 39, 103);
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-x22ywj7wwb]  a, .top-row .btn-link[b-x22ywj7wwb] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-x22ywj7wwb] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-x22ywj7wwb] {
        display: none;
    }

    .top-row.auth[b-x22ywj7wwb] {
        justify-content: space-between;
    }

    .top-row a[b-x22ywj7wwb], .top-row .btn-link[b-x22ywj7wwb] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-x22ywj7wwb] {
        flex-direction: row;
    }

    .sidebar[b-x22ywj7wwb] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-x22ywj7wwb] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-x22ywj7wwb], article[b-x22ywj7wwb] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

body[b-x22ywj7wwb] {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: rgb(5, 39, 103);
}

.navbar[b-x22ywj7wwb] {
    border-bottom: 1px solid #BBBBB;
}

.nav-link[b-x22ywj7wwb] {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(5, 39, 103);
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
}

    .nav-link:hover[b-x22ywj7wwb] {
        opacity: 1;
    }

    .nav-link[b-x22ywj7wwb]::before {
        transition: 300ms;
        height: 5px;
        content: "";
        position: absolute;
        background-color: #031D44;
    }

.nav-link-ltr[b-x22ywj7wwb]::before {
    width: 0%;
    bottom: 10px;
}

.nav-link-ltr:hover[b-x22ywj7wwb]::before {
    width: 100%;
}

.nav-link-fade-up[b-x22ywj7wwb]::before {
    width: 100%;
    bottom: 5px;
    opacity: 0;
}

.nav-link-fade-up:hover[b-x22ywj7wwb]::before {
    bottom: 10px;
    opacity: 1;
}

.nav-link-grow-up[b-x22ywj7wwb]::before {
    height: 0%;
    width: 100%;
    bottom: 0px;
}

.nav-link-grow-up:hover[b-x22ywj7wwb]::before {
    height: 5px;
}





.page-wrapper[b-x22ywj7wwb] {
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 11111;
    top: 35px;
}

footer p[b-x22ywj7wwb], footer strong[b-x22ywj7wwb], footer b[b-x22ywj7wwb], footer[b-x22ywj7wwb] {
    color: #b0b0b0;
}

.footer-top[b-x22ywj7wwb] {
    background: #303030;
    background-size: cover;
    background-position: center;
    padding: 0 0 20px;
    font-family: rubik;
    padding-top: 30px;
}

.footer-top[b-x22ywj7wwb], .footer-bottom[b-x22ywj7wwb] {
    background-color: #1c1f2f;
}

.footer-bottom[b-x22ywj7wwb] {
    padding: 15px 0;
    border-top: 1px solid #313646;
    background-color: #181828 !important;
    color: #b0b0b0;
    font-family: rubik;
}

color: #99a9b5;
padding-top: 15px;[b-x22ywj7wwb]
}

.footer-site-info[b-x22ywj7wwb] {
    font-size: 92.86%;
}

#footer-navigation[b-x22ywj7wwb], #footer-navigation li a:hover[b-x22ywj7wwb], .custom-footer[b-x22ywj7wwb], .custom-footer li a:hover[b-x22ywj7wwb] {
    color: white;
}

    #footer-navigation[b-x22ywj7wwb], #footer-navigation li a[b-x22ywj7wwb], .custom-footer[b-x22ywj7wwb], .custom-footer li a[b-x22ywj7wwb] {
        color: #99a9b5;
        padding-top: 15px;
    }

.footer-bottom ul[b-x22ywj7wwb] {
    margin: 0;
}

.inline-inside[b-x22ywj7wwb] {
    font-size: 0;
    line-height: 0;
}

.clearfix[b-x22ywj7wwb]:after, .clearfix[b-x22ywj7wwb]:before {
    content: "";
    display: table;
}

#footer-menu li[b-x22ywj7wwb] {
    display: inline-block;
    padding: 0 21px;
    position: relative;
    line-height: 1;
}

#footer-navigation[b-x22ywj7wwb], #footer-navigation li a[b-x22ywj7wwb], .custom-footer[b-x22ywj7wwb], .custom-footer li a[b-x22ywj7wwb] {
    color: #99a9b5;
    padding-top: 15px;
}

    #footer-navigation[b-x22ywj7wwb], #footer-navigation li a[b-x22ywj7wwb], .custom-footer[b-x22ywj7wwb], .custom-footer li a[b-x22ywj7wwb] {
        color: #99a9b5;
        padding-top: 15px;
    }

#footer-menu li + li[b-x22ywj7wwb]:before {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    left: -1px;
    top: 0;
    font-size: 0;
    border-left: 1px solid #232234;
    border-right: 1px solid #333146;
}


navigation li a[b-x22ywj7wwb], .custom-footer[b-x22ywj7wwb], .custom-footer li a[b-x22ywj7wwb] {
    color: #99a9b5;
    padding-top: 15px;
}

#footer-socials[b-x22ywj7wwb] {
    text-align: right;
}

    #footer-socials .socials[b-x22ywj7wwb] {
        text-align: right;
        margin: 0 -7px;
        display: inline-block;
        vertical-align: middle;
    }

a.socials-item[b-x22ywj7wwb] {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin: 0 5px;
    line-height: 16px;
    padding: 10px;
    border-radius: 50%;
    background-color: #141421;
    border: 1px solid #2e2e4c;
    box-shadow: 3px 9px 16px rgb(0,0,0,0.4), -3px -3px 10px rgba(255,255,255, 0.06), inset 14px 14px 26px rgb(0,0,0,0.3), inset -3px -3px 15px rgba(255,255,255, 0.05);
}

.socials-item i[b-x22ywj7wwb] {
    display: inline-block;
    font-weight: normal;
    width: 1em;
    height: 1em;
    line-height: 1;
    font-size: 16px;
    text-align: center;
    vertical-align: top;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    text-rendering: auto;
}

.facebook[b-x22ywj7wwb] {
    color: #4e64b5;
}

.twitter[b-x22ywj7wwb] {
    color: #00aced;
}

.instagram[b-x22ywj7wwb] {
    color: #9a8f62;
}

.youtube[b-x22ywj7wwb] {
    color: #c82929;
}

.telegram[b-x22ywj7wwb] {
    color: #2ca5e0;
}


a.socials-item:hover[b-x22ywj7wwb] {
    box-shadow: 0 0px 20px rgba(84, 1, 74, 0.7);
    border-color: rgba(255, 6, 224, 0.61);
    background: linear-gradient(to right, rgba(255, 9, 9, 0.12941176470588237), #c000ffb5, rgba(255, 0, 94, 0.14));
}

.footer-bottom a:hover[b-x22ywj7wwb] {
    color: white;
}


footer p[b-x22ywj7wwb], footer li[b-x22ywj7wwb] {
    font-size: 15px;
    line-height: 50px;
}


.widget[b-x22ywj7wwb] {
    margin-bottom: 50px;
}

.footer-title[b-x22ywj7wwb] {
    margin-bottom: 40px;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
    padding-bottom: 15px;
    font-size: 16px;
    position: relative;
}

    .footer-title[b-x22ywj7wwb]:after {
        width: 50px;
        background: #fff;
        opacity: 0.2;
        height: 1px;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
    }

.gem-contacts-item[b-x22ywj7wwb] {
    padding-top: 10px;
    font-size: 15px;
}

    .gem-contacts-item i[b-x22ywj7wwb] {
        padding-right: 10px;
    }

footer .widget ul[b-x22ywj7wwb] {
    list-style: none;
    margin-top: 5px;
}

.posts li[b-x22ywj7wwb] {
    border-bottom: 1px solid #393d50;
    padding-bottom: 12px;
    padding-top: 6px;
}

footer p[b-x22ywj7wwb], footer li[b-x22ywj7wwb] {
    font-size: 15px;
    line-height: 22px;
}

.gem-pp-posts-date[b-x22ywj7wwb] {
    color: #00bcd4;
    font-size: 89.5%;
}

footer p[b-x22ywj7wwb] {
    line-height: 24px;
    margin-bottom: 10px;
    font-size: 15px;
}

.wpcf7-form-control-wrap .wpcf7-form-control[b-x22ywj7wwb] {
    padding: 7px !important;
    width: 100%;
}

.wpcf7-form-control-wrap input[b-x22ywj7wwb] {
    background: #1c1f2f;
    overflow: hidden;
    border: 1px solid #2e344d;
    background-color: #1c1f2f;
    box-shadow: 10px 10px 36px rgb(0,0,0,0.5), -13px -13px 23px rgba(255,255,255, 0.03);
    border-radius: 5px;
    transition: all 0.3s ease-in-out 0s;
}

    .wpcf7-form-control-wrap input:hover[b-x22ywj7wwb] {
        background-color: transparent;
        box-shadow: 10px 10px 36px rgb(0,0,0,0.5), -13px -13px 23px rgba(255,255,255, 0.03), inset 14px 14px 70px rgb(0,0,0,0.2), inset -15px -15px 30px rgba(255,255,255, 0.04);
        border-color: rgba(255, 255, 255, 0.2);
        color: white;
    }

.wpcf7 .wpcf7-form .contact-form-footer textarea[b-x22ywj7wwb] {
    height: 160px;
    width: 100%;
}

.wpcf7-form-control-wrap textarea:hover[b-x22ywj7wwb] {
    background-color: transparent;
    box-shadow: 10px 10px 36px rgb(0,0,0,0.5), -13px -13px 23px rgba(255,255,255, 0.03), inset 14px 14px 70px rgb(0,0,0,0.2), inset -15px -15px 30px rgba(255,255,255, 0.04);
    border-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.wpcf7-form-control-wrap textarea[b-x22ywj7wwb] {
    background: #1c1f2f;
    overflow: hidden;
    border: 1px solid #2e344d;
    background-color: #1c1f2f;
    box-shadow: 10px 10px 36px rgb(0,0,0,0.5), -13px -13px 23px rgba(255,255,255, 0.03);
    border-radius: 5px;
    transition: all 0.3s ease-in-out 0s;
}

textarea[b-x22ywj7wwb] {
    overflow: auto;
    resize: vertical;
}

.wpcf7 .wpcf7-form .contact-form-footer .wpcf7-submit[b-x22ywj7wwb] {
    width: 100%;
    padding: 11px;
    margin: 0;
    line-height: 0;
}

.wpcf7-form .contact-form-footer .wpcf7-submit[b-x22ywj7wwb] {
    background-color: #394050;
    color: #99a9b5;
    border: none;
    cursor: pointer;
    padding: 15px 40px;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.5s;
    letter-spacing: 2px;
    color: rgba(255,255,255,.5);
    box-shadow: none;
    text-transform: uppercase;
    outline: none !important;
    background-color: #1c1f2f;
    border-radius: 5px;
    min-width: 140px;
    box-shadow: 10px 10px 36px rgb(0,0,0,0.5), -13px -13px 23px rgba(255,255,255, 0.03), inset 14px 14px 70px rgb(0,0,0,0.2), inset -15px -15px 30px rgba(255,255,255, 0.04);
   /* box-shadow: 3px 9px 16px rgb(0,0,0,0.4), -3px -3px 10px rgba(255,255,255, 0.06), inset 14px 14px 26px rgb(0,0,0,0.3), inset -3px -3px 15px rgba(255,255,255, 0.05);*/
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: #2e344d;
    transition: all 0.3s ease-in-out 0s;
}

.wpcf7-form input[type=submit][b-x22ywj7wwb] {
    height: 40px;
    line-height: 21px;
    padding: 10px 40px;
    font-size: 14px;
}

.posts li a[b-x22ywj7wwb] {
    color: #99a9b5;
}

.wpcf7-form .contact-form-footer .wpcf7-submit:hover[b-x22ywj7wwb] {
    box-shadow: 0 0px 20px rgba(84, 1, 74, 0.7);
    border-color: rgba(255, 6, 224, 0.61);
    background: linear-gradient(to right, rgba(255, 9, 9, 0.12941176470588237), #c000ffb5, rgba(255, 0, 94, 0.14));
    color: white;
}

img[b-x22ywj7wwb] {
    border-style: none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.widget_gallery a[b-x22ywj7wwb] {
    display: inline-block;
}

footer .widget ul[b-x22ywj7wwb] {
    list-style: none;
    margin-top: 5px;
}

.widget_gallery ul[b-x22ywj7wwb] {
    padding-left: 0;
    display: table;
}

.widget_gallery li[b-x22ywj7wwb] {
    display: inline-block;
    width: 33.33%;
    float: left;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    padding: 2px;
}

.widget_gallery.gallery-grid-4 li[b-x22ywj7wwb] {
    width: 30%;
}


#waterdrop[b-x22ywj7wwb] {
    height: 30px;
}

    #waterdrop canvas[b-x22ywj7wwb] {
        bottom: -70px !important;
    }

.footer-site-info[b-x22ywj7wwb] {
    padding-top: 10px;
}
