@page "/"

<PageTitle>Index</PageTitle>


<h1>Hello, Visitor</h1>

<h2>
    Dear Visitor,

    Welcome to my new website! I'm thrilled to have you here.



    This space was created with you in mind, and I hope you find it both informative and engaging. Whether you're here to explore, learn, or simply browse, I’m confident you’ll find something of interest.



    Thank you for stopping by, and I look forward to connecting with you!



    Best regards,


    Edzel John Olid
</h2>


<style>
    h2 {
        margin: 10px 0;
        font-size: 2rem;
    }

    h1 {
        margin: 10px 0;
        font-size: 3rem;
    }
</style>

