@page "/"

<PageTitle>Index</PageTitle>


<h1>Hello, Visitor</h1>

<h2>
    Dear Visitor,

    Welcome to my new website! I'm thrilled to have you here.<br><br>



    This space was created with you in mind, and I hope you find it both informative and engaging. Whether you're here to explore, learn, or simply browse, I’m confident you’ll find something of interest.<br><br>



    Thank you for stopping by, and I look forward to connecting with you!<br><br>



    Best regards,<br><br>


    Edzel John Olid<br><br>
</h2>


<style>
    h2 {
        margin: 10px 0;
        font-size: 2rem;
    }

    h1 {
        margin: 10px 0;
        font-size: 3rem;
    }
    index {
    background-color: #f7f7f7;
    border-bottom: 1px solid rgb(5, 39, 103);
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}
</style>

